.container {
    margin: 50px 0;
    box-shadow: 8px 15px 20px #4e4e4e;
}

.Card {
    margin: 0% !important;
}

.Infected {
    border-bottom: 10px solid rgb(255, 87, 51, 0.5);
}

.Recovered {
    border-bottom: 10px solid rgb(10, 172, 4, 0.5);
}

.Death {
    border-bottom: 10px solid rgb(117, 3, 98, 0.5);
}