nav {
    box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
    background-color:#ffffff;
}

a {
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    color: rgba(19, 19, 19, 0.87);
    font-family: cursive;
    font-size: 18px;
    font-weight: bolder;
}

a:hover {
    color: crimson;
    text-decoration-line: none;
    text-decoration: none;
}