nav {
    box-shadow: 0 1px 10px 0 rgba(46, 61, 73, 0.151);
    background-color:#ffffff;
    margin: 0;
    padding: 0;
}

a {
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    color: rgba(19, 19, 19, 0.87);
    font-family: cursive;
    font-size: 18px;
}

a:hover {
    color: crimson;
    text-decoration-line: none;
    text-decoration: none;
}